@import './static-css/reset.css';
@import './static-css/typography.css';

:root {
  margin: auto;
  min-width: 320px;
  max-width: 414px;
  background-color: rgb(90, 87, 82);
}

body {
  background-color: #37334D;
  padding: 1px;
}



.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid #ffd600;
  border-radius: 18px;
  height: 43px;
  min-width: 70px;
  color: #ffd600;
  text-transform: uppercase;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ffd600;
  height: 43px;
  width: 43px;
  color: #ffd600;
  border-radius: 51%;
}

.avatar img {
  border-radius: 51%;
}

.important {
  color: #ed6930;
}

.highlighted {
  color: #30ed38;
}

.secondary {
  color: #00B2FF;
  display: inline;
  padding: 0px 5px;
}

.dash {
  height: 55px;
  min-width: 92px;
  flex-direction: column;
  text-transform:none;
}


.nav {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 10px;
}

nav.nav>ul:nth-child(1)>p {
  margin-left: 0px;
  margin-right: auto;
}


/* start filter bar */
.filter {
  margin-top: 5px;
  border: 1px solid #00B2FF;
  border-radius: 9px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.search {
  flex-grow: 1;
  min-width: 124px;
}

.search:focus{
  border: 1px solid red;
  outline: 0;
}

.small {
  cursor: pointer;
  min-width: 36px;
  height: 26px;
  border-radius: 9px;
  padding: 0;
}

.invisible {
  border: transparent;
  background-color: transparent;
}

/* end filter bar */

/* rows with all data */
.row {
  display: flex;
  flex-wrap: nowrap;
}

.row li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid #00B2FF;
  border-radius: 9px;
  height: 90px;
  width: 36px;
  color: whitesmoke;
}


li.prev-img {
  width: 48px;
  border-color: #ffd600;
  overflow: hidden;
}

.prev-img img {
  max-height: 90px;
}

li.prev-content {
  justify-content: start;
  flex-grow: 1;
  min-width: 124px;
  line-height: 15px;
  border-color: #ffd600;
  overflow: hidden;
}

.prev-content p {
  padding: 2px;
  text-indent: 5%;
}

.vertical-txt {
  writing-mode: vertical-rl;
  text-orientation: upright;
  overflow: auto;
}

/* end rows with all data */

/* start dropdown */
.btn.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 70px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: black;
  border: 1px solid #ffd600;
  border-radius: 9px;
}

.dropdown-content a {
  display: block;
  color: #ED6930;
  border-radius: 9px;
  padding: 1px;
  white-space: nowrap;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* end dropdown */